
.f_content{
    font-size: 13px;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    margin-top:5px;
    color:white;
}

.f_size{
    font-size: 13px;
    padding: 5px;
    color:#777777;
    word-spacing: normal;
    word-wrap:normal;
 
}
.f_size:hover{
    border-bottom: 3px solid black;
}

.heads{
    margin-top: 20px;
    margin-left: 250px;
 
}
.navslist{
   margin-bottom: 30px;
}
.catgory_list{
    z-index: -1;
    background-color:white;
}

.leftside-ul{
    padding: 0;
    list-style: none;
    background: black;
    width:240px;
    

}
.leftside-ul p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    color: white;
}
.leftside-ul:hover{
    background: #c4b583;

}
.down {
    transition: transform 0.3s ease-in-out; 
  }
  
  .leftside-ul:hover .down  {
    transform: rotate(180deg); 
  }
.leftside-ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
.leftside-ul li{
    width: 100%;
    display: inline-block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

.leftside-ul li ul.dropdown{
    min-width: 100%; 
    background: rgb(238, 231, 231);
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    width:240px;
    
    

}
.leftside-ul li:hover ul.dropdown {
    display: block;
    /* background-color: white; */
    border: 1px solid lightgray;
    
}
.dropdown li{
   color: black;
}
.dropdown li:hover{
    color: #c4b583;
}
.leftside-ul li ul.dropdown li{
    display: block;
}
.lll{
    margin-right: 20px;
}

@media (min-width: 425px) and (max-width: 575px) {
    .heads{
        display: none;
       
    }

     
    }