.focus-out:focus{
    outline: none;
}
.common-padding{
    padding: 7px;
}
.logo-container h3 {
    letter-spacing: -2px;
    font-size: 23px;
    font-weight: 600;
    font-family: revert;
    margin-left: 10px !important;
}
.responsive_nav{
    display: none;
}


.navbar-toggler{
    outline: none !important;
    border: none !important;
    opacity: 0.5;
   }



   .leftside-ul{
    padding: 0;
    list-style: none;
    background: black;
    width:240px;
    

}
.leftside-ul p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    color: white;
}
.leftside-ul:hover{
    background: #c4b583;

}
.down {
    transition: transform 0.3s ease-in-out; 
  }
  
  .leftside-ul:hover .down  {
    transform: rotate(180deg); 
  }
.leftside-ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
.leftside-ul li{
    width: 100%;
    display: inline-block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

.leftside-ul li ul.dropdown{
    min-width: 100%; 
    background: rgb(238, 231, 231);
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    width:240px;
    
    

}
.leftside-ul li:hover ul.dropdown {
    display: block;
    border: 1px solid lightgray;
    
}
.dropdown li{
   color: black;
}
.dropdown li:hover{
    color: #c4b583;
}
.leftside-ul li ul.dropdown li{
    display: block;
}






 .f_size{
    font-size: 13px;
    color:#777777;
    word-spacing: normal;
    word-wrap:normal;
 
}
.f_size:hover{
    border-bottom: 4px solid black;
}

@media (min-width: 425px) and (max-width: 575px) {
    .responsive_nav{
        display: block;
        overflow: hidden;
       
    }
   .responsive_null{
    display: none;
   }
   .small_logo{
    margin-left: 60px;
   }
     
    }